    <app-navbar (onLoginChanged)="doSomething()" ></app-navbar>

  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-sm section-shaped">
      <div class="shape shape-style-1 shape-default">
        <span></span>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div> 

  <section class="section">
  
<div class="row">

<div class="col-md-4 offset-4">

  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
  <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
  <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>

   </svg>



<h5> You order worth Rs {{total}} will be delivered to you by {{time}} on your table! </h5>
<h6> Further details have been mailed to your email! </h6>

</div>
</div>


</section>